@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.AppointmentsConatiner{
    background-color: #e9f5f3;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: auto;
}

.AppointmentsContent{
    justify-self: center;
    width: 95%;
    align-items: left;
    position: relative;
    top: 10%;
    font-family: 'Open Sans', sans-serif;
}

h1{
    margin: 0;
}

.AppointmentsContent button{
    cursor: pointer;
    background-color: #ff852e;
    font-size: 1vw;
    border: none;
    border-radius: 10px;
    color: white;
    height: 5vh;
    width: 12vw;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
    margin-top: 5%;
}

.AppointmentsContent button:hover{
    transition-duration: 0.5s;
    background-color: #e47526 ;
}

.allAppointments{
    background-color: white;
    height: auto;
    border: solid rgb(0, 0, 0, 0.2) 1px;
    border-radius: 20px;
    margin-top: 3%;
}

.allAppointments h3{
    font-size: 1.2vw;
    padding: 2%;
    font-weight: 700;
}

