@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


.BA{
    background-color: #e9f5f3;
    height: 100%;
    display: grid;
    grid-template-columns: auto;
}



.BAContents{
    justify-self: center;
    width: 95%;

}

.BAContents h1{
    font-family: 'Open Sans', sans-serif;
    margin: 5% 0 4% 0;
}
.BASearch{
    background-color: white;
    height: 10vh;
    display: grid;
    grid-template-columns: 10% 90%;
    width: 95%;
    align-items: center;
    border-radius: 20px;
    justify-self: center;
}
.BASearch input{
    font-family: 'Open Sans', sans-serif;
    position: relative;
    background-color: transparent;
    width: 95%;
    height: 5vh;
    border: solid 2px #269d90;
    border-radius: 10px;
}

.BASearch button{
    cursor: pointer;
    width: 30%;
    height: 50%;
    justify-self: center;
    border-radius: 10px;
    border: 1px solid #269d90;
    background-color: #269d90;
    color: white;
    transition-duration: 0.5s;
}


.BASearch button:hover{
    transition-duration: 0.5s;
    background-color: #1d7b70;

}


.BAboard{
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 5%;
    padding-bottom: 5vh;
}