@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


.TitleLogo h4
{
    font-size: 1.2vw;
}
.Footer{
    background-color: #33364f;
    color: white;
    display: grid;
    grid-template-columns: auto;
    font-family: 'Open Sans','sans-serif';
    width: 100%;
}


.FooterContainer{
    grid-template-columns: 30% 20% 30% 20%;
    display: grid;
    width: 90%;
    justify-self: center;
    position: relative;
    margin-top: 3%;
}

.FooterTitle{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
}

.QuickLinks h3, .ContactUs h3 ,.SuportFAQs h3{
    color: white;
    font-weight: bold;
    opacity: 90%;
    font-size: 1vw;
}

ul{
    line-height: 4vh;
}

.QuickLinks li, .SuportFAQs li {
    opacity: 0.7;
    font-weight: bold;
}

.divider {
    grid-column: 1 / -1;
    font-size: 1vw;
    display: flex;
    align-items: center;
    width: 80%;
    opacity: 0.4;
    margin: 0 0 3vh 0;
    justify-self: center;
}

.divider::before, .divider::after {
  flex: 1;
  content: '';
  padding: 0.5px;
  background-color: white;
  border-radius: 10px
}

.SocialLinks{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    position: relative;
    bottom: 40%;
}
