@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


body{
    background-color: #e4efff;
    font-family: 'Open Sans', sans-serif;
    justify-content: center;
    justify-self: center;
    width: 100%;
}

